.header{
  background-image: url(../assets/backgrounds/landing.jpg);
  text-align: center;
  color: white;
  font-family: sans-serif;
  padding: 20px 0px;
  background-repeat: no-repeat;
}

.happyhour{
  height: 75px;
  width: 330px;
  background: #e0e0d1;
  display: flex;
  align-items: center;
}
.partytime{
  height: 75px;
  width: 330px;
  background: #F15A29;
  display: flex;
  align-items: center;
}

.breakfast{
  height: 150px;
  width: 350px;
  color: #ffffff;
  background: url(../assets/foodtop/breakfast.jpg);
  display: flex;
  align-items: center;
}

.lunch{
  height: 150px;
  width: 330px;
  color: #ffffff;
  background: url(../assets/foodtop/lunch.jpg);
  display: flex;
  align-items: center;
}
.dinner{
  height: 150px;
  color: #ffffff;
  width: 326px;
  background: url(../assets/foodtop/dinner.jpg);
  display: flex;
  align-items: center;
}

#sidebar{
position: fixed;
width: 200px;
height: 30%;
left: -200px;
transition: all 500ms linear;
}
#sidebar.active {
left: 0px;

}


}
#sidebar ul li {
color: white;
list-style: none;
padding: 15px 10px;
border-bottom:1px white;
}
#sidebar .toggle-btn{
position: absolute;
left: 230px;
top: 20px;
}

#sidebar .toggle-btn span {
display: block;
width: 30px;
height: 5px;
background: white;
margin: 6px 0px;

}
