.header{
  background-image: url(../assets/backgrounds/landing.jpg);
  text-align: center;
  color: white;
  font-family: sans-serif;
  padding: 20px 0px;
  background-repeat: no-repeat;
}

.happyhour{
  height: 75px;
  width: 330px;
  background: #e0e0d1;
  display: flex;
  align-items: center;
}
.partytime{
  height: 75px;
  width: 330px;
  background: #F15A29;
  display: flex;
  align-items: center;
}

.breakfast{
  height: 150px;
  width: 350px;
  color: #ffffff;
  background: url(../assets/foodtop/breakfast.jpg);
  display: flex;
  text-align: center;
}

.lunch{
  height: 150px;
  width: 330px;
  color: #ffffff;
  background: url(../assets/foodtop/lunch.jpg);
  display: flex;
  text-align: center;
}
.dinner{
  height: 150px;
  color: #ffffff;
  width: 326px;
  background: url(../assets/foodtop/dinner.jpg);
  display: flex;
  text-align: center;
}
.image{
   background-size: cover;
   padding-bottom: : 0;
   margin-bottom: 0;
   position: absolute;
   border: 1px solid #F2F2F2 ;
   border-width: 15px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   box-sizing: border-box;
   margin-left: 100px;
   margin-top: 70px;
}


#alig-h{
   width: 50%;
   float: left;
   padding-top: 70px;
   padding-left: 30px;
   padding-bottom: 0;
   font-family: sans-serif;
   padding-right: 100px;



}
.button{
  border-radius: 5px;
  padding: 13px 20px;
  border-color: #F15A29;
  color: #F15A29;
  box-sizing: border-box;
}
#image2{
  background-size: cover;
  padding-bottom: : 0;
  margin-bottom: 100px;
  position: absolute;
  border: 1px solid #F2F2F2;
  border-width: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  margin-left: 100px;
  margin-top: 150px;

}
#alig-f{
   margin-top: 40px;
   position: relative;
   width: 100%;
   padding-top: 200px;
   text-align: right;
   box-sizing: border-box;
   padding-left: 100px;
   margin-bottom: 100px;

}
i {
  border: solid red;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

}


#food-types {
  background-image: url(../assets/backgrounds/foodsBg.jpg);
  margin-top: 100px;
  text-align: center;
  height: 450px;
  position: relative;
}
.redish{
  color: red;
}
.grey-bg {
  background: #c1bebe;
  border-right: 1px solid black;
}

.zero-padding {
  padding-right: 0px;
  padding-left: 0px;
}

.center {
  text-align: center;
}

#image-holder {
  background: white;
  margin-top: 5%;
  margin-left: 10%;
  width: 80%;
}
 .h3{
   font-weight: bold;
   color: red;
 }


#border-center{
  border-right: 1px solid #888888;
  margin-top: 2%;

}
.customers{

  text-align: center;
  border: 2px solid gray;
  border-radius: 5px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 100px;
  margin-left: 100px;
}
#h{
  color: red;
  text-decoration: none;
}
.subscribe{
  text-align: center;
  color: white;
  background-image: url(../assets/backgrounds/subscribe.jpg);
  padding-top: 30px;
  padding-bottom: 30px;


}



 .customers  i .left .right{

   border: solid red;
   border-width: 3px 3px 3px 0;
   display: inline-block;
   padding: 4px;

 }

#subscribe {
background-image: url(../assets/backgrounds/subscribe.jpg);
margin-top: 50px;
height: 300px;
color: white;
align-content: center;
}
{
  color: red;
}
#sidebar{
position: fixed;
width: 200px;
height: 30%;
left: -200px;
transition: all 500ms linear;
}
#sidebar.active {
left: 0px;



}
#sidebar ul li {
color: white;
list-style: none;
padding: 15px 10px;
border-bottom:1px white;
}
#sidebar .toggle-btn{
position: absolute;
left: 230px;
top: 20px;
}

#sidebar .toggle-btn span {
display: block;
width: 30px;
height: 5px;
background: white;
margin: 6px 0px;

}
